<div class="row allign-header-center">
    <div class="col-md-8">
        <h5>{{subsystem?.name}} Information</h5>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-lg btn-block btn-outline-success box-shadow" (click)="updateInformation(subsystemId); $event.stopPropagation(); $event.preventDefault()">
            <span class="fa fa-refresh"></span>
            <span>Update</span>
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card bg-white box-shadow mt-2">
            <div class="card-header">
                <h5 class="my-0">Connection info</h5>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                        <h6 class="card-subtitle mb-2 text-muted">Hostname</h6>
                        <h5 class="card-title">{{subsystem?.connectionParameters.hostname}}</h5>
                    </div>
                    <div class="col-md-3">
                        <h6 class="card-subtitle mb-2 text-muted">Port</h6>
                        <h5 class="card-title">{{subsystem?.connectionParameters.port}}</h5>
                    </div>
                    <div class="col-md-3">
                        <h6 class="card-subtitle mb-2 text-muted">Datastore</h6>
                        <h5 class="card-title">{{subsystem?.connectionParameters.imsDatastore}}</h5>
                    </div>
                    <div class="col-md-3">
                        <h6 class="card-subtitle mb-2 text-muted">Exit routine</h6>
                        <h5 class="card-title">{{subsystem?.connectionParameters.imsExitIdentifier}}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card-deck">
    <div class="card bg-white box-shadow mt-2">
        <div class="card-header">
            <h5 class="my-0">IMS Connect</h5>
        </div>
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Job name</h6>
            <h5 class="card-title">{{imsConnectSubsystemJob?.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Job status</h6>
            <h5 class="card-title">{{imsConnectSubsystemJob?.status}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Started at</h6>
            <h5 *ngIf="imsConnectSubsystemJob?.startedAt" class="card-title">{{getSubsystemJobStartedAt(imsConnectSubsystemJob) | date:'dd.MM.y HH:mm'}}</h5>
            <h5 *ngIf="!imsConnectSubsystemJob?.startedAt" class="card-title">Job is stopped</h5>
            <button type="button" (click)="openSubsystemJobLogModal(imsConnectSubsystemJob)" class="btn btn-lg btn-block btn-outline-primary mt-2 box-shadow"
                [ngClass]="{'disabled' : !imsConnectSubsystemJob?.startedAt}">Log</button>
        </div>
    </div>
    <div class="card bg-white box-shadow mt-2">
        <div class="card-header">
            <h5 class="my-0">IMS Сontrol region</h5>
        </div>
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Job name</h6>
            <h5 class="card-title">{{imsControlRegionSubsystemJob?.name}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Job status</h6>
            <h5 class="card-title">{{imsControlRegionSubsystemJob?.status}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Started at</h6>
            <h5 *ngIf="imsControlRegionSubsystemJob?.startedAt" class="card-title">{{getSubsystemJobStartedAt(imsControlRegionSubsystemJob) | date:'dd.MM.y HH:mm'}}</h5>
            <h5 *ngIf="!imsControlRegionSubsystemJob?.startedAt" class="card-title">Job is stopped</h5>
            <button type="button" (click)="openSubsystemJobLogModal(imsControlRegionSubsystemJob)" class="btn btn-lg btn-block btn-outline-primary mt-2 box-shadow"
                [ngClass]="{'disabled' : !imsControlRegionSubsystemJob?.startedAt}">Log</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="list-group box-shadow mt-2">
            <li class="list-group-item bg-light">
                <h5 class="my-0">External subsystems</h5>
            </li>
            <li class="list-group-item" *ngFor="let imsExternalSubsystem of subsystem?.information.imsExternalSubsystems" [ngClass]="{'bg-white' : imsExternalSubsystem?.status.startsWith('CONN'), 'bg-danger text-white' : !imsExternalSubsystem?.status.startsWith('CONN')}">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{imsExternalSubsystem?.name}} {{imsExternalSubsystem?.status}}</h5>
                </div>
                <small *ngIf="imsExternalSubsystem?.status.startsWith('CONN')" class="text-muted">Connection to {{imsExternalSubsystem?.name}} is active</small>
                <small *ngIf="!imsExternalSubsystem?.status.startsWith('CONN')" class="text-white">Connection to {{imsExternalSubsystem?.name}} is stopped</small>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <ul class="list-group box-shadow mt-2">
            <li class="list-group-item bg-light">
                <h5 class="my-0">Queued messages</h5>
            </li>
            <li *ngIf="!subsystem?.information.imsQueuedMessages.length" class="list-group-item bg-white">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">No queued messages</h5>
                </div>
                <small class="text-muted">This subsystem haven't any queued messages</small>
            </li>
            <li class="list-group-item bg-white" *ngFor="let imsQueuedMessage of subsystem?.information.imsQueuedMessages">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{imsQueuedMessage?.transactionName}} {{imsQueuedMessage?.messageCount}}</h5>
                </div>
                <small class="text-muted">Please check and clear queue</small>
            </li>
        </ul>
    </div>
</div>