<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{email.issue.notification.title(${issue.id})}">ApplicationMonitor issue #0</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
</head>

<body>
    <p th:text="#{email.issue.notification.greeting}">
        Hi team,
    </p>
    <p th:text="#{email.issue.notification.text1(${issue.id}, ${issue.subsystemObject.objectType.description}, ${issue.subsystemObject.name})}">
        ApplicationMonitor registerd an issue #0 with IMS transaction ADDINV. Issue details:
    </p>
    <p th:text="#{email.issue.notification.text2(${issue.subsystemObject.name})}">
        Object name: ADDINV
    </p>
    <p th:text="#{email.issue.notification.text3(${issue.subsystemObject.objectType.description})}">
        Object type: IMS transaction
    </p>
    <p th:text="#{email.issue.notification.text4(${issue.objectStatus.name})}">
        Object status: STOPPED
    </p>
    <p th:text="#{email.issue.notification.text5(${issue.objectStatus.description})}">
        Object status description: Transaction is stopped
    </p>
    <p th:text="#{email.issue.notification.text6(${issue.occuredAt})}">
        Occurred at: 2018-05-26 20:30
    </p>
    <p>
        <span th:text="#{email.issue.notification.text7}">Regards, </span>
        <br/>
        <em th:text="#{email.signature}">ApplicationMonitor team.</em>
    </p>
</body>

</html>