<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySubsystemParameterLabel" jhiTranslate="appmonitorApp.subsystemParameter.home.createOrEditLabel">Create or edit a Subsystem Parameter</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!subsystemParameter.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="subsystemParameter.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="appmonitorApp.subsystemParameter.parameterKey" for="field_parameterKey">Parameter Key</label>
            <input type="text" class="form-control" name="parameterKey" id="field_parameterKey"
                [(ngModel)]="subsystemParameter.parameterKey" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="appmonitorApp.subsystemParameter.parameterValue" for="field_parameterValue">Parameter Value</label>
            <input type="text" class="form-control" name="parameterValue" id="field_parameterValue"
                [(ngModel)]="subsystemParameter.parameterValue" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="appmonitorApp.subsystemParameter.subsystem" for="field_subsystem">Subsystem</label>
            <select class="form-control" id="field_subsystem" name="subsystem" [(ngModel)]="subsystemParameter.subsystemId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="subsystemOption.id" *ngFor="let subsystemOption of subsystems; trackBy: trackSubsystemById">{{subsystemOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
