
<div *ngIf="subsystemParameter">
    <h2><span jhiTranslate="appmonitorApp.subsystemParameter.detail.title">Subsystem Parameter</span> {{subsystemParameter.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="appmonitorApp.subsystemParameter.parameterKey">Parameter Key</span></dt>
        <dd>
            <span>{{subsystemParameter.parameterKey}}</span>
        </dd>
        <dt><span jhiTranslate="appmonitorApp.subsystemParameter.parameterValue">Parameter Value</span></dt>
        <dd>
            <span>{{subsystemParameter.parameterValue}}</span>
        </dd>
        <dt><span jhiTranslate="appmonitorApp.subsystemParameter.subsystem">Subsystem</span></dt>
        <dd>
            <div *ngIf="subsystemParameter.subsystemId">
                <a [routerLink]="['/subsystem', subsystemParameter.subsystemId]">{{subsystemParameter.subsystemId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'subsystem-parameter/'+ subsystemParameter.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
