
<div *ngIf="objectStatus">
    <h2><span jhiTranslate="appmonitorApp.objectStatus.detail.title">Object Status</span> {{objectStatus.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="appmonitorApp.objectStatus.name">Name</span></dt>
        <dd>
            <span>{{objectStatus.name}}</span>
        </dd>
        <dt><span jhiTranslate="appmonitorApp.objectStatus.description">Description</span></dt>
        <dd>
            <span>{{objectStatus.description}}</span>
        </dd>
        <dt><span jhiTranslate="appmonitorApp.objectStatus.objectType">Object Type</span></dt>
        <dd>
            <div *ngIf="objectStatus.objectTypeId">
                <a [routerLink]="['/object-type', objectStatus.objectTypeId]">{{objectStatus.objectTypeId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'object-status/'+ objectStatus.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
