<div>
    <h2>
        <span jhiTranslate="appmonitorApp.objectStatus.home.title">Object Statuses</span>
        <button class="btn btn-primary float-right jh-create-entity create-object-status" [routerLink]="['/', { outlets: { popup: ['object-status-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="appmonitorApp.objectStatus.home.createLabel">
            Create new Object Status
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="objectStatuses">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="appmonitorApp.objectStatus.name">Name</span></th>
            <th><span jhiTranslate="appmonitorApp.objectStatus.description">Description</span></th>
            <th><span jhiTranslate="appmonitorApp.objectStatus.objectType">Object Type</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let objectStatus of objectStatuses ;trackBy: trackId">
                <td><a [routerLink]="['../object-status', objectStatus.id ]">{{objectStatus.id}}</a></td>
                <td>{{objectStatus.name}}</td>
                <td>{{objectStatus.description}}</td>
                <td>
                    <div *ngIf="objectStatus.objectTypeId">
                        <a [routerLink]="['../object-type', objectStatus.objectTypeId  ]" >{{objectStatus.objectTypeId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../object-status', objectStatus.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'object-status/'+ objectStatus.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'object-status/'+ objectStatus.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
