<div class="row allign-header-center">
    <div class="col-md-8">
        <h5>Issue #{{issueId}}</h5>
    </div>
    <div class="col-md-4">
        <button type="button" class="btn btn-lg btn-block btn-outline-success box-shadow" (click)="assignIssueToMe()">Assign issue to me</button>
    </div>
</div>
<div class="card-deck">
    <div class="card bg-white box-shadow mb-2 mt-2">
        <div class="card-header">
            <h5 class="my-0">Object information</h5>
        </div>
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Name</h6>
            <h5 class="card-title">{{issue?.subsystemObjectName}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Type</h6>
            <h5 class="card-title">{{issue?.objectTypeDescription}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Description</h6>
            <p class="card-text">
                <b>{{issue?.subsystemObjectDescription}}</b>
            </p>
        </div>
    </div>
    <div class="card bg-white box-shadow mb-2 mt-2">
        <div class="card-header">
            <h5 class="my-0">Status information</h5>
        </div>
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Code</h6>
            <h5 class="card-title">{{issue?.objectStatusName}}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Description</h6>
            <p class="card-text">
                <b>{{issue?.objectStatusDescription}}</b>
            </p>
        </div>
    </div>
    <div class="card bg-white box-shadow mb-2 mt-2">
        <div class="card-header">
            <h5 class="my-0">Issue events</h5>
        </div>
        <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Occured</h6>
            <h5 class="card-title">{{getOccuredAtDate() | date:'dd.MM.y HH:mm'}}</h5>
            <div *ngIf="issue?.resolvedAt != null">
                <h6 class="card-subtitle mb-2 text-muted">Resolved</h6>
                <h5 class="card-title">{{getResolvedAtDate() | date:'dd.MM.y HH:mm'}}</h5>
            </div>
        </div>
    </div>
    <div class="card bg-white box-shadow mb-2 mt-2">
        <div class="card-header">
            <h5 class="my-0">Assigned user</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <h6 class="card-subtitle mb-2 text-muted">First name</h6>
                    <h5 class="card-title">{{issue?.assignedUserFirstName}}</h5>
                </div>
                <div class="col-md-4">
                    <h6 class="card-subtitle mb-2 text-muted">Last name</h6>
                    <h5 class="card-title">{{issue?.assignedUserLastName}}</h5>
                </div>
                <div class="col-md-4">
                    <h6 class="card-subtitle mb-2 text-muted">E-mail</h6>
                    <h5 class="card-title">{{issue?.assignedUserEmail}}</h5>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <textarea [(ngModel)]="commands" class="form-control box-shadow mt-2" rows="5"></textarea>
        <button type="button" class="btn btn-lg btn-block btn-outline-danger box-shadow mt-2" (click)="execute()">Execute</button>
        <div class="form-control box-shadow mt-2">
            <pre [innerHtml]="response" ng-bind-html="response"></pre>
        </div>
    </div>
</div>