<div>
    <h2>
        <span jhiTranslate="appmonitorApp.subsystem.home.title">Subsystems</span>
        <button class="btn btn-primary float-right jh-create-entity create-subsystem" [routerLink]="['/', { outlets: { popup: ['subsystem-new'] } }]">
            <span class="fa fa-plus"></span>
            <span jhiTranslate="appmonitorApp.subsystem.home.createLabel">
                Create new Subsystem
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="subsystems">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        <span jhiTranslate="global.field.id">ID</span>
                    </th>
                    <th>
                        <span jhiTranslate="appmonitorApp.subsystem.name">Name</span>
                    </th>
                    <th>
                        <span jhiTranslate="appmonitorApp.subsystem.subsystemType">Subsystem Type</span>
                    </th>
                    <th>
                        <span jhiTranslate="appmonitorApp.subsystem.refreshRate">Refresh Rate</span>
                    </th>
                    <th>
                        <span jhiTranslate="appmonitorApp.subsystem.updatedAt">Updated At</span>
                    </th>
                    <th>
                        <span jhiTranslate="appmonitorApp.subsystem.information">Information</span>
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let subsystem of subsystems ;trackBy: trackId">
                    <td>
                        <a [routerLink]="['../subsystem', subsystem.id ]">{{subsystem.id}}</a>
                    </td>
                    <td>{{subsystem.name}}</td>
                    <td jhiTranslate="{{'appmonitorApp.SubsystemType.' + subsystem.subsystemType}}">{{subsystem.subsystemType}}</td>
                    <td>{{subsystem.refreshRate}}</td>
                    <td>{{subsystem.updatedAt | date:'medium'}}</td>
                    <td>{{subsystem.information}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit" [routerLink]="['../subsystem', subsystem.id ]" class="btn btn-info btn-sm">
                                <span class="fa fa-eye"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>
                            <button type="submit" [routerLink]="['/', { outlets: { popup: 'subsystem/'+ subsystem.id + '/edit'} }]" replaceUrl="true"
                                queryParamsHandling="merge" class="btn btn-primary btn-sm">
                                <span class="fa fa-pencil"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>
                            <button type="submit" [routerLink]="['/', { outlets: { popup: 'subsystem/'+ subsystem.id + '/delete'} }]" replaceUrl="true"
                                queryParamsHandling="merge" class="btn btn-danger btn-sm">
                                <span class="fa fa-remove"></span>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>