<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySubsystemLabel" jhiTranslate="appmonitorApp.subsystem.home.createOrEditLabel">Create or edit a Subsystem</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!subsystem.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="subsystem.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="appmonitorApp.subsystem.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="subsystem.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="appmonitorApp.subsystem.subsystemType" for="field_subsystemType">Subsystem Type</label>
            <select class="form-control" name="subsystemType" [(ngModel)]="subsystem.subsystemType" id="field_subsystemType" >
                <option value="IMS">{{'appmonitorApp.SubsystemType.IMS' | translate}}</option>
                <option value="MQ">{{'appmonitorApp.SubsystemType.MQ' | translate}}</option>
                <option value="OPC">{{'appmonitorApp.SubsystemType.OPC' | translate}}</option>
                <option value="DB2">{{'appmonitorApp.SubsystemType.DB2' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="appmonitorApp.subsystem.refreshRate" for="field_refreshRate">Refresh Rate</label>
            <input type="number" class="form-control" name="refreshRate" id="field_refreshRate"
                [(ngModel)]="subsystem.refreshRate" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="appmonitorApp.subsystem.updatedAt" for="field_updatedAt">Updated At</label>
            <div class="d-flex">
                <input id="field_updatedAt" type="datetime-local" class="form-control" name="updatedAt" [(ngModel)]="subsystem.updatedAt"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="appmonitorApp.subsystem.information" for="field_information">Information</label>
            <textarea class="form-control" name="information" id="field_information"
                [(ngModel)]="subsystem.information" ></textarea>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
