<a [routerLink]="['../issues', issue.id]">
    <div class="card box-shadow mb-2 mt-2">
        <div class="card-header" [ngClass]="{'bg-light' : issue?.resolvedAt, 'bg-danger text-white' : !issue.resolvedAt}">
            <h5 *ngIf="!issue?.resolvedAt" class="my-0">#{{issue?.id}} NEW</h5>
            <h5 *ngIf="issue?.resolvedAt" class="my-0">#{{issue?.id}} RESOLVED</h5>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-4">
                    <h6 class="card-subtitle mb-2 text-muted">Object name</h6>
                    <h5 class="card-title">{{issue?.subsystemObjectName}}
                        <span class="text-muted">({{issue?.objectTypeDescription}})</span>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">Status</h6>
                    <h5 class="card-text">{{issue?.objectStatusName}}</h5>
                </div>
                <div class="col-md-4 mb-2">
                    <!-- <h6 class="card-subtitle mb-2 text-muted">Assigned user</h6>
                    <h5 class="card-title">{{issue.assignedUserFirstName}} {{issue.assignedUserLastName}}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">E-mail</h6>
                    <h5 class="card-title">{{issue.assignedUserEmail}}</h5> -->
                </div>
                <div class="col-md-4 text-right">
                    <h6 class="card-subtitle mb-2 text-muted">Occurred at</h6>
                    <h5 class="card-title">{{getIssueOccuredDate() | date:'dd.MM.y HH:mm'}}</h5>
                    <h6 *ngIf="issue?.resolvedAt" class="card-subtitle mb-2 text-muted">Resolved at</h6>
                    <h5 *ngIf="issue?.resolvedAt" class="card-title">{{getIssueResolvedDate() | date:'dd.MM.y HH:mm'}}</h5>
                </div>
            </div>
            <!-- <a [routerLink]="['../issues', issue.id]">
                <button type="button" class="btn btn-lg btn-block mt-2" [ngClass]="{'btn-outline-primary' : issue.resolvedAt, 'btn-outline-light' : !issue.resolvedAt}">View details</button>
            </a> -->
        </div>
    </div>
</a>