<div>
    <h2>
        <span jhiTranslate="appmonitorApp.subsystemJob.home.title">Subsystem Jobs</span>
        <button class="btn btn-primary float-right jh-create-entity create-subsystem-job" [routerLink]="['/', { outlets: { popup: ['subsystem-job-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="appmonitorApp.subsystemJob.home.createLabel">
            Create new Subsystem Job
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="subsystemJobs">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="appmonitorApp.subsystemJob.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="appmonitorApp.subsystemJob.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="appmonitorApp.subsystemJob.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="type"><span jhiTranslate="appmonitorApp.subsystemJob.type">Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="startedAt"><span jhiTranslate="appmonitorApp.subsystemJob.startedAt">Started At</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="log"><span jhiTranslate="appmonitorApp.subsystemJob.log">Log</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="subsystemId"><span jhiTranslate="appmonitorApp.subsystemJob.subsystem">Subsystem</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let subsystemJob of subsystemJobs ;trackBy: trackId">
                <td><a [routerLink]="['../subsystem-job', subsystemJob.id ]">{{subsystemJob.id}}</a></td>
                <td>{{subsystemJob.name}}</td>
                <td>{{subsystemJob.description}}</td>
                <td jhiTranslate="{{'appmonitorApp.JesJobStatus.' + subsystemJob.status}}">{{subsystemJob.status}}</td>
                <td jhiTranslate="{{'appmonitorApp.SubsystemJobType.' + subsystemJob.type}}">{{subsystemJob.type}}</td>
                <td>{{subsystemJob.startedAt | date:'medium'}}</td>
                <td>{{subsystemJob.log}}</td>
                <td>
                    <div *ngIf="subsystemJob.subsystemId">
                        <a [routerLink]="['../subsystem', subsystemJob.subsystemId  ]" >{{subsystemJob.subsystemId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../subsystem-job', subsystemJob.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'subsystem-job/'+ subsystemJob.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'subsystem-job/'+ subsystemJob.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="subsystemJobs && subsystemJobs.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
