<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="mySubsystemJobLabel" jhiTranslate="appmonitorApp.subsystemJob.home.createOrEditLabel">Create or edit a Subsystem Job</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!subsystemJob.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="subsystemJob.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="appmonitorApp.subsystemJob.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="subsystemJob.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="appmonitorApp.subsystemJob.description" for="field_description">Description</label>
            <input type="text" class="form-control" name="description" id="field_description"
                [(ngModel)]="subsystemJob.description" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="appmonitorApp.subsystemJob.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="subsystemJob.status" id="field_status" >
                <option value="ACTIVE">{{'appmonitorApp.JesJobStatus.ACTIVE' | translate}}</option>
                <option value="STOPPED">{{'appmonitorApp.JesJobStatus.STOPPED' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="appmonitorApp.subsystemJob.type" for="field_type">Type</label>
            <select class="form-control" name="type" [(ngModel)]="subsystemJob.type" id="field_type" >
                <option value="IMS_CONNECT">{{'appmonitorApp.SubsystemJobType.IMS_CONNECT' | translate}}</option>
                <option value="IMS_CONTROL_REGION">{{'appmonitorApp.SubsystemJobType.IMS_CONTROL_REGION' | translate}}</option>
                <option value="IMS_MPR">{{'appmonitorApp.SubsystemJobType.IMS_MPR' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="appmonitorApp.subsystemJob.startedAt" for="field_startedAt">Started At</label>
            <div class="d-flex">
                <input id="field_startedAt" type="datetime-local" class="form-control" name="startedAt" [(ngModel)]="subsystemJob.startedAt"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="appmonitorApp.subsystemJob.log" for="field_log">Log</label>
            <textarea class="form-control" name="log" id="field_log"
                [(ngModel)]="subsystemJob.log" ></textarea>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="appmonitorApp.subsystemJob.subsystem" for="field_subsystem">Subsystem</label>
            <select class="form-control" id="field_subsystem" name="subsystem" [(ngModel)]="subsystemJob.subsystemId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="subsystemOption.id" *ngFor="let subsystemOption of subsystems; trackBy: trackSubsystemById">{{subsystemOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
