<div>
    <h2>
        <span jhiTranslate="appmonitorApp.subsystemObject.home.title">Subsystem Objects</span>
        <button class="btn btn-primary float-right jh-create-entity create-subsystem-object" [routerLink]="['/', { outlets: { popup: ['subsystem-object-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="appmonitorApp.subsystemObject.home.createLabel">
            Create new Subsystem Object
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="subsystemObjects">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="name"><span jhiTranslate="appmonitorApp.subsystemObject.name">Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="description"><span jhiTranslate="appmonitorApp.subsystemObject.description">Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="isActive"><span jhiTranslate="appmonitorApp.subsystemObject.isActive">Is Active</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="subsystemId"><span jhiTranslate="appmonitorApp.subsystemObject.subsystem">Subsystem</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="objectTypeId"><span jhiTranslate="appmonitorApp.subsystemObject.objectType">Object Type</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let subsystemObject of subsystemObjects ;trackBy: trackId">
                <td><a [routerLink]="['../subsystem-object', subsystemObject.id ]">{{subsystemObject.id}}</a></td>
                <td>{{subsystemObject.name}}</td>
                <td>{{subsystemObject.description}}</td>
                <td>{{subsystemObject.isActive}}</td>
                <td>
                    <div *ngIf="subsystemObject.subsystemId">
                        <a [routerLink]="['../subsystem', subsystemObject.subsystemId  ]" >{{subsystemObject.subsystemId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="subsystemObject.objectTypeId">
                        <a [routerLink]="['../object-type', subsystemObject.objectTypeId  ]" >{{subsystemObject.objectTypeId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../subsystem-object', subsystemObject.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'subsystem-object/'+ subsystemObject.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'subsystem-object/'+ subsystemObject.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="subsystemObjects && subsystemObjects.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
