
<div *ngIf="objectType">
    <h2><span jhiTranslate="appmonitorApp.objectType.detail.title">Object Type</span> {{objectType.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="appmonitorApp.objectType.name">Name</span></dt>
        <dd>
            <span>{{objectType.name}}</span>
        </dd>
        <dt><span jhiTranslate="appmonitorApp.objectType.description">Description</span></dt>
        <dd>
            <span>{{objectType.description}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'object-type/'+ objectType.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
