<div [ngSwitch]="isAuthenticated()">
    <h1 class="display-4 font-weight-bold text-center" *ngSwitchCase="false" jhiTranslate="home.subtitle">Welcome to ApplicationMonitor</h1>
    <div class="alert alert-warning box-shadow mt-4 text-center align-content-center" *ngSwitchCase="false">
        <h6>If you want to login, you need to open "Account" menu on navigation bar and click "Sign in" button</h6>
    </div>
    <div class="alert alert-warning box-shadow text-center align-content-center" *ngSwitchCase="false">
        <h6 jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</h6>
        <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
    </div>
    <div class="row allign-header-center" *ngSwitchCase="true">
        <div class="col-md-8">
            <h5>Subsystems</h5>
        </div>
        <div class="col-md-4">
            <button type="button" class="btn btn-lg btn-block btn-outline-success box-shadow" (click)="addSubsystem()">
                <span class="fa fa-plus" aria-hidden="true"></span>
                <span>Add subsystem</span>
            </button>
        </div>
    </div>
    <div *ngSwitchCase="true">
        <div class="row">
            <div *ngFor="let subsystem of subsystems" class="col-sm-4 text-center">
                <jhi-subsystem-card [subsystem]="subsystem"></jhi-subsystem-card>
            </div>
        </div>
    </div>
</div>