<span *ngIf="messageType !== 'text'" [ngClass]="{'info-message': messageType=='infoMessage', 'warning-message': messageType=='warningMessage', 'error-message': messageType=='errorMessage'}">
    <span (click)="findInKnowledgeCenter()">
        {{logLine}}
    </span>
</span>
<span *ngIf="messageType === 'text'" [ngClass]="{'text': messageType=='text'}">
    {{logLine}}
</span>