
<div *ngIf="issue">
    <h2><span jhiTranslate="appmonitorApp.issue.detail.title">Issue</span> {{issue.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="appmonitorApp.issue.occuredAt">Occured At</span></dt>
        <dd>
            <span>{{issue.occuredAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="appmonitorApp.issue.resolvedAt">Resolved At</span></dt>
        <dd>
            <span>{{issue.resolvedAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="appmonitorApp.issue.objectStatus">Object Status</span></dt>
        <dd>
            <div *ngIf="issue.objectStatusId">
                <a [routerLink]="['/object-status', issue.objectStatusId]">{{issue.objectStatusId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="appmonitorApp.issue.subsystemObject">Subsystem Object</span></dt>
        <dd>
            <div *ngIf="issue.subsystemObjectId">
                <a [routerLink]="['/subsystem-object', issue.subsystemObjectId]">{{issue.subsystemObjectId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="appmonitorApp.issue.assignedUser">Assigned User</span></dt>
        <dd>
            {{issue.assignedUserLogin}}
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'issue/'+ issue.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
