<div>
    <h2>
        <span jhiTranslate="appmonitorApp.issue.home.title">Issues</span>
        <button class="btn btn-primary float-right jh-create-entity create-issue" [routerLink]="['/', { outlets: { popup: ['issue-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="appmonitorApp.issue.home.createLabel">
            Create new Issue
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="issues">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="appmonitorApp.issue.occuredAt">Occured At</span></th>
            <th><span jhiTranslate="appmonitorApp.issue.resolvedAt">Resolved At</span></th>
            <th><span jhiTranslate="appmonitorApp.issue.objectStatus">Object Status</span></th>
            <th><span jhiTranslate="appmonitorApp.issue.subsystemObject">Subsystem Object</span></th>
            <th><span jhiTranslate="appmonitorApp.issue.assignedUser">Assigned User</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let issue of issues ;trackBy: trackId">
                <td><a [routerLink]="['../issue', issue.id ]">{{issue.id}}</a></td>
                <td>{{issue.occuredAt | date:'medium'}}</td>
                <td>{{issue.resolvedAt | date:'medium'}}</td>
                <td>
                    <div *ngIf="issue.objectStatusId">
                        <a [routerLink]="['../object-status', issue.objectStatusId  ]" >{{issue.objectStatusId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="issue.subsystemObjectId">
                        <a [routerLink]="['../subsystem-object', issue.subsystemObjectId  ]" >{{issue.subsystemObjectId}}</a>
                    </div>
                </td>
                <td>
                    {{issue.assignedUserLogin}}
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../issue', issue.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'issue/'+ issue.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'issue/'+ issue.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
